<ion-header>
    <ion-navbar>
        <ion-title>Let's do it!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-item>
            <ion-label floating>Task</ion-label>
            <ion-input type="text" [(ngModel)]="task.label" name="label"></ion-input>
        </ion-item>
        <ion-item>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
        </ion-item>
    </form>
    <button ion-button full color="primary" (click)="save()">Save</button>
</ion-content>
