<ion-header>
    <ion-navbar>
        <ion-title>Getting Your Things Done</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab top right edge #fab>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list>
            <button ion-fab (click)="goToCreate(fab)"><ion-icon name="create"></ion-icon></button>
            <button ion-fab><ion-icon name="notifications"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

    <ion-list>
        <div *ngFor="let day of projects">
            <ion-item-divider color="light">{{ day.date }}</ion-item-divider>
            <div *ngFor="let task of day.tasks">
                <ion-item-sliding #slidingItem>
                    <ion-item>
                        <ion-label [color]="task.done ? 'secondary' : 'dark'">{{ task.label }}</ion-label>
                    </ion-item>

                    <ion-item-options side="right">
                        <button ion-button outline color="primary">
                            <ion-icon name="notifications"></ion-icon>
                            Reminder
                        </button>
                        <button ion-button outline [color]="task.done ? 'warning' : 'secondary'" (click)="toggleDoneStatus(task, slidingItem)">
                            <ion-icon name="checkmark"></ion-icon>
                            {{ task.done ? 'Undone' : 'Done' }}
                        </button>
                    </ion-item-options>
                    <ion-item-options side="left">
                        <button ion-button outline color="danger" (click)="delete(task)">
                            <ion-icon name="trash"></ion-icon>
                            Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </div>
    </ion-list>
</ion-content>
